#status {
  font-size: small;
}
#app-base {
  margin-top: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.panel-title {
  font-weight: bold;
}
.field-panel {
  padding: 10px;
}
button i {
  margin: 10px;
}
.cam-preview {
  width: 200px;
  height: 200px;
}
.cam-preview.snap {
  float: right;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 3px;
  width: 200px;
  height: 200px;
  margin: 10px;
}
.cam-preview video {
  width: 200px;
  height: 200px;
}
.panel-footer .btn-group {
  margin-top: 5px;
}
body {
  -webkit-font-smoothing: antialiased;
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 14%, transparent 15%) 0 0, -webkit-radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 14%, transparent 15%) 7px 7px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 14%, transparent 16%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 14%, transparent 16%) 7px 8px;
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 14%, transparent 15%) 0 0, -moz-radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 14%, transparent 15%) 7px 7px, -moz-radial-gradient(rgba(255, 255, 255, 0.1) 14%, transparent 16%) 0 1px, -moz-radial-gradient(rgba(255, 255, 255, 0.1) 14%, transparent 16%) 7px 8px;
    background: -o-radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 14%, transparent 15%) 0 0, -o-radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 14%, transparent 15%) 7px 7px, -o-radial-gradient(rgba(255, 255, 255, 0.1) 14%, transparent 16%) 0 1px, -o-radial-gradient(rgba(255, 255, 255, 0.1) 14%, transparent 16%) 7px 8px;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 14%, transparent 15%) 0 0, radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 14%, transparent 15%) 7px 7px, radial-gradient(rgba(255, 255, 255, 0.1) 14%, transparent 16%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 14%, transparent 16%) 7px 8px;
    background-color: #ffffff;
    background-size: 16px 16px;
}

